<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Greetings</title>
  </head>
  <body>
    <div class="wrapper">
      {{{body}}}
    </div>
  </body>
  <script src="../../public/function.js" charset="utf-8"></script>
</html>
