<h1 class="heading">Greeting</h1>
<form class="form" method="post">
  <label for="name">Name :</label>
  <input id="name" type="text" name="name" placeholder="Enter your name">
  <button id="btn" type="submit" name="button">Greet Me</button>
</form>
<div id="msg">
{{{msg}}}
</div>
